/* CSS Reset */
*{
    margin: 0px;
    /* margin-bottom: 5px; */
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: #494138;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 12;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

.portfolio div{
    position: absolute;
    top:9px;
    right:35px;
    font-size: 44px;
}



/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 397px;
    padding-left: 0px;
    height: 550px;
    justify-content: center;
    align-items: center;
    
    
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('../image/background1.jpg') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color:rgb(38 208 114);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
}

#home p{
    right: 44px;
    color: rgb(142 143 202);
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
#home #iam{
    text-align: center;
}
/* Services Section */
.services{
    margin: 18px -5px;
    padding: 23px;
    display: flex;
}
.services .box{ 
    border: 2px solid brown;
    padding: 35px;
    margin: 2px 39px;
    border-radius: 28px;
    background: rgb(210 180 178 / 41%);
    width: 100%;
}

.services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

.services .box p{
    font-family: 'Bree Serif', serif;

} 

/* Clients Section */
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('../image/bg3.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}


/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    background: url('../image/background3.jpg') no-repeat center center/cover;
    margin-top: 85px;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
    margin-bottom: 0px;
    margin-top: 23px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 0px;
    margin: 0px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.center{
    text-align: center;
}

#button{
    cursor: pointer;
}
.portfolio a{
    color: rgb(167 43 43);
    font-weight: bold;
    border-radius: 23px;
    padding: 6px;
    font-family: 'Baloo Bhai', cursive;
}
.portfolio a:hover{
    background-color: #f2f2f2
}

.dark-mode {
    background-color: black;
    color: white;
  }
  .wrapper{
    display: flex;
  }
  .wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
  }
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #f9b1b1;;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 80px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #080706;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }
.img{
    position: absolute;
    top: 130px;
    right: 252px;
    display: flex;
    z-index: 2;
    width: 117px;
    height: 465px;
    
}
#gaurav{
    border-radius: 0px 27px 0px 27px;
}
.services{
    background: url('/image/background2.jpg') no-repeat center center/cover;
    z-index: 233;
    margin: 0px;
    opacity: 100%;
}
#skills {
    width: 27%;
    margin: auto;
    text-align: auto;
    border-radius: 23px 23px 0px 0px;
    background: #494138;
}
.portfolio{
    position: absolute;
    right: 23px;
    top: 16px;
    font-size: 36px;
}
button{
    display: flex;
    width: -2%;
    margin: auto;
    padding: 11px;
    color: green;
    position: relative;
    margin: auto;
    margin-top: 31px;
    border-radius: 23px;
    text-align: center;
    font-size: 1rem;
}
button:hover a{
    background-color: black;
    color: blanchedalmond;
}
button:hover{
    background-color: black;
}
button a{
    text-decoration: none;
    color: black;
}
button a:hover{
    color: blanchedalmond;
}
.logoimg{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}
.fa{
    margin: 23px;
}
.logo:hover{
    width: 60%;
}
.bubbles img{
    z-index: 222222;
    width: 3px;
    scale: 0.1;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
}
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}